<main-menu>
  <div class="page-header">
    {% include page-logo.html %} {% include page-name.html %}
  </div>
  <a class="main-menu__item" href="/">Главная</a>
  <a class="main-menu__item" href="/history/">История заказов</a>
  <a class="main-menu__item" href="/partners/">Партнеры</a>
  <a class="main-menu__item" href="/create/">Создать QR</a>
  <menu-active-orders-list></menu-active-orders-list>
  <a class="main-menu__item" href="/contacts/">Контакты</a>
  <a class="main-menu__item" href="/about/">О проекте</a>
</main-menu>