* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}
default-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 6rem 200px 1fr 200px 6rem;
  grid-template-rows: 3rem 1fr 3rem;
}

default-layout>* {
  border: 1px solid #ccc;
}

default-layout .logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2F353B;
}

default-layout .logo_img {
  background-image: url('/assets/png/favicon.png');
  background-size: contain;
  height: 2rem;
  width: 2rem;
}

default-layout .header {
  display: flex;
  grid-column: 2 / 6;
  background-color: #2f353b;
}

default-layout .left {
  grid-column: 2 / 3;
}

default-layout .right {
  grid-column: 4 / 5;
}

default-layout .footer {
  display: flex;
  grid-column: 2 / 5;
}

default-layout .middle {
  overflow-y: auto;
  scrollbar-width: thin;
}

default-layout .middle::-webkit-scrollbar-track {
  background-color: #eee;
}

default-layout .middle::-webkit-scrollbar {
  width: 6px;
}

default-layout .middle::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

default-layout .header-menu,
default-layout .footer-menu {
  display: flex;
}

default-layout .header-menu .item,
default-layout .footer-menu .item {
  padding: 0 .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

default-layout .header-menu .item {
  font-weight: bold;
  color: #fffe;
}

default-layout .header-menu .item:hover .text {
  color: #fffd;
}

default-layout .header-menu .item.active .text {
  color: #ffff;
}
qo-menu .item {
  cursor: pointer;
}

qo-menu .item .text {
  border-bottom: 1px dotted #0000;
}

qo-menu .item:hover {
  text-decoration: underline;
}

qo-menu .item.active {
  text-decoration: none;
  cursor: default;
}

qo-menu .item.active .text {
  border-bottom-color: #9c9c9c;
}
