qo-menu .item {
  cursor: pointer;
}

qo-menu .item .text {
  border-bottom: 1px dotted #0000;
}

qo-menu .item:hover {
  text-decoration: underline;
}

qo-menu .item.active {
  text-decoration: none;
  cursor: default;
}

qo-menu .item.active .text {
  border-bottom-color: #9c9c9c;
}
