qo-scanner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--side-background-color);
  min-width: 22rem;
}

qo-scanner .qo-scanner__header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: 3rem;
}

qo-scanner .qo-scanner__logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--header-background-color);
  padding-right: .5rem;
}

qo-scanner .qo-scanner__header {
  grid-column: 2 / 4;
  background-color: var(--header-background-color);
}

qo-scanner .qo-scanner__result,
qo-scanner .qo-scanner__content {
  position: fixed;
  top: 3rem;
  bottom: 3rem;
  left: 0;
  right: 0;
  grid-column: 1 / 4;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

qo-scanner .qo-scanner__content {
  background-color: var(--header-background-color);
}

qo-scanner .qo-scanner__result {
  background-color: var(--content-background-color);
}

qo-scanner .qo-scanner__content--video {
  top: 0;
  bottom: 0;
}

qo-scanner .qo-scanner__result::-webkit-scrollbar-track,
qo-scanner .qo-scanner__content::-webkit-scrollbar-track {
  background-color: var(--content-background-color);
}

qo-scanner .qo-scanner__result::-webkit-scrollbar,
qo-scanner .qo-scanner__content::-webkit-scrollbar {
  width: 6px;
}

qo-scanner .qo-scanner__result::-webkit-scrollbar-thumb,
qo-scanner .qo-scanner__content::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

qo-scanner .qo-scanner__hide-block {
  display: none;
}

qo-scanner .qo-scanner__transparent-block {
  opacity: .5;
}

qo-scanner .qo-scanner__not-media {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--content-background-color);
}

qo-scanner .qo-scanner__img-from-file-preview {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: .5rem;
  min-height: 6rem;
  display: none;
}

qo-scanner .qo-scanner__img-from-file-preview_selected {
  display: block;
}

qo-scanner .qo-scanner__img-from-file {
  display: none;
}

qo-scanner .qo-scanner__media {
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--header-background-color);
}

qo-scanner .qo-scanner__video {
  height: 100%;
  width: 100%;
}

qo-scanner .qo-scanner__result-content {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

qo-scanner .qo-scanner__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  background-color: var(--header-background-color);
}

qo-scanner .qo-scanner__back-button-block {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

qo-scanner .qo-scanner__back-button {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  background: url('/assets/png/back.png') no-repeat center;
  border-radius: .5rem;
  margin-right: .5rem;
}

qo-scanner .qo-scanner__back-button:hover {
  background-color: #fff1;
}

@media screen and (min-device-width: 64rem) {
  qo-scanner .qo-scanner__header-container {
    grid-template-columns: 1fr minmax(min-content, 58rem) 1fr;
  }

  qo-scanner .qo-scanner__footer {
    grid-template-columns: 1fr minmax(min-content, 58rem) 1fr;
  }
}

@media screen and (max-device-width: 32rem) {
  qo-scanner .qo-scanner__back-button-block {
    grid-column: 1 / 4;
    cursor: pointer;
  }

  qo-scanner .qo-scanner__back-button-block:hover {
    background-color: #fff1;
  }

  qo-scanner .qo-scanner__back-button:hover {
    background-color: #fff0;
  }
}

qo-scan-button {
  display: block;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: .5rem;
}

qo-scan-button:hover {
  background-color: #2196f31a;
}

qo-scan-button.qo-scan-button_middle {
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
}

qo-scan-button .qo-scan-button__image {
  background-image: url('/assets/png/favicon64.png');
  background-size: contain;
  height: 100%;
  width: 100%;
}
