qo-scan-button {
  display: block;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: .5rem;
}

qo-scan-button:hover {
  background-color: #2196f31a;
}

qo-scan-button.qo-scan-button_middle {
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
}

qo-scan-button .qo-scan-button__image {
  background-image: url('/assets/png/favicon.png');
  background-size: contain;
  height: 100%;
  width: 100%;
}
