.qo-my-orders__layouts {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.qo-my-orders__content {
  flex-grow: 1;
}

.qo-my-orders__scan-button-block {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border: 1px solid var(--side-border-color);
  border-radius: .5rem;
}

.qo-my-orders__scan-button-block:hover {
  background-color: #2196f31a;
}

.qo-my-orders__scan-button-block qo-scan-button:hover {
  background: none;
}

.qo-my-orders__scan-button {
  margin: 0 .7rem;
}
